<p class="text-center text-muted">
    View this project on <a style="color: black" href="https://github.com/dyyfk/go-server" target="blank"> <i class="fab fa-github"> </i> GitHub</a> 
    <!-- <br>&copy; Copyright 2019, all rights reserved  -->
</p>

