<form method="post" class="mt-2 border border-light p-5 text-center align-items-center">
               <div>
                  <img id="logo" src="assets/img/logo.png" class=" rounded">
               </div>
               <p class="h4 mb-4 mt-4">Join a Room for playing GO chess</p>

               <input id="name-field" class="form-control mb-4" type="text" placeholder="Name" autofocus>

               <!--
					   <div class="form-field">
						<label>Join Room</label>
						<div id="room-list" name="roomJoined">
							<input type="checkbox" name="placeholder">
						</div>
					   </div>
					   -->
               <input id="room-field" class="form-control mb-4" type="text" placeholder="Room">
               <div class="custom-control custom-checkbox">
                  <input id="player-field" class="custom-control-input" type="checkbox" checked="checked" />
<!--                  <label class="custom-control-label" for="player-field">Join as player?</label>-->
               </div>
               <button class="btn btn-info btn-block my-4" id="join-btn" class="custom-control-input">Join</button>
               <div id="social" class="d-flex justify-content-between">
                  <a href="/auth/google" class="circle danger-color-dark pt-3"><i
                        class="fab fa-google text-white"></i></a>
<!--                  <a class="circle success-color pt-3"><i class="fab fa-weixin text-white"></i></a>-->
<!--                  <a class="circle primary-color-dark pt-3"><i class=" fab fa-facebook-f text-white"></i></a>-->
               </div>
               <!--
                     <div class ="social-button">
                         <button type="button" class="btn btn-fb black-text"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
                         <button type="button" class="btn btn-tw black-text"><i class="fab fa-twitter pr-1"></i> Twitter</button>
                         <button type="button" class="btn btn-gplus black-text"><i class="fab fa-google-plus-g pr-1"></i> Google</button>
                     </div>
-->
            </form>