<!--<form method="post" class="mt-2 border border-light p-5 text-center align-items-center">-->
<!--
               <div>
                  <img id="logo" src="assets/img/logo.png" class=" rounded">
               </div>
-->
<!--		<div>-->
<!--               <p class="h4 mb-4 mt-4"></p>-->
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Enter room name">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
<!--	<div class="d-flex">-->
<!--

               <input id="name-field" class="form-control flex-grow-1" type="text" placeholder="Enter Room name" autofocus>
			<button class="form-control flex-grow-2"><i class="fas fa-search"></i>Search</button>
	</div>
-->
	
<!--               <input id="room-field" class="form-control mb-4" type="text" placeholder="Room">-->
<!--
               <div class="custom-control custom-checkbox">
                  <input id="player-field" class="custom-control-input" type="checkbox" checked="checked" />
               </div>
-->


<!--            </form>-->