<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Uwmgo</a>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <% if(typeof user == 'undefined'){ %>

      <li class="nav-item">
        <a class="nav-link" href="/users/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/login">Login</a>
      </li>

      <% } else{ %>
      <li class="nav-item">
        <a class="nav-link" href="/users/logout">Logout</a>
      </li>
      <% } %>




    </ul>
  </div>
</nav>