<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Uwmgo</a>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/playground">Playgraund</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.kiseido.com/ff.htm" target="_blank">Tutorial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lobby">Lobby</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">

      <% if(typeof user == 'undefined'){ %>



      <li class="nav-item">
        <a class="nav-link" href="/users/login">Login </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="/users/register">Register </a>
      </li>

      <% } else{ %> <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/users/logout">Logout</a>
      </li>
      <% } %>
    </ul>

  </div>
</nav>


<style>
  .btn {
    border-radius: 20px;
  }
</style>