<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welocome to uwmgo</h1>
        <img src="/assets/img/logo.png" alt="logo">
        <p class="lead">A website where you can play go with your friends</p>
    </div>
</div>