<style>
    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    .sidebar-wrapper {
        display: flex;
        align-items: stretch;
        <% if(typeof game == 'boolean'){ %> z-index: 20;<% } %>
    }

    #sidebar {     
        min-width: 200px;
        max-width: 200px;
        background: #333333;
        color: #fff;
        transition: .4s;
        border-radius: 0 30px 30px 0;
        margin-left: <% if(typeof game == 'boolean'){ %> -200px <% } else{ %> 0 <% } %>;
    }

    #sidebar.active {
        margin-left: 0;
    }

    .sidebar-header {
        padding: 20px 10px;
        background: #777777;
        margin: 0;
        border-radius: 0 30px 0 0;
    }

    .sidebar-header h3 {
        color: #fff;
        margin: 0;
    }

    .sidebar-header span {
        color: #333
    }

 

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #777777;
    }

    #sidebar ul li a:hover {
        color: #333333;
        background: #fff;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    #sidebar ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #777777;
    }

    #sidebarCollapse {
        padding: 20px 20px 0 10px;
        display: inline-block;
    }

    #arrow {
        font-size: 2em;
        height: 1em;
        color: #555;
        transition: color .3s, transform .5s;
    }

    #arrow:hover {
        color: #aaa
    }

    .flip {
        transform: rotateZ(-180deg)
    }

    /* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */

    #content {
        width: 100%;
        padding: 0 30px;
        min-height: 100vh;
        transition: all 0.3s;
    }

    /* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */

    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
        }

        #sidebar.active {
            margin-left: 0;
        }

    }
</style>


<div class="sidebar-wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a href="/front">
                <h3><span>UWM</span>GO</h3>
            </a>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/lobby">Game Lobby</a>
            </li>
            <li class="active">
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">New
                    Game</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="/configuration">Regular Match</a>
                    </li>
                    <li>
                        <a href="/playground">Play with A Friend</a>
                    </li>
                    <li>
                        <a href="#">Challenge AI </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="https://www.kiseido.com/ff.htm" target="_blank">Tutorials</a>
            </li>
            <% if(typeof user == 'undefined'){ %>
            <li>
                <a href="/users/login">Login | Register</a>
            </li>
            <% } else{ %>
            <li>
                <a href="/users/logout">Logout</a>
            </li>
            <% } %>

        </ul>
    </nav>

    <% if(typeof game == 'boolean'){ %>
    <div id="sidebarCollapse">
        <i id="arrow" class='fas fa-greater-than'></i>
    </div>
    <% } %>
    <!-- Page Content  -->
    <!-- <div id="content">
    
            <p>Add content as a component here</p>
    
        </div> -->
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $('#arrow').toggleClass('flip');
            $('#overlay').toggleClass('active');
        });
    });
</script>