<div class="container">
    <div class="row">
        <div class="col-sm-8 m-auto">
            <div id="slider3" class="carousel slide mb-5" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li class="active" data-target="#slider3" data-slide-to="0"></li>
                    <li data-target="#slider3" data-slide-to="1"></li>
                    <li data-target="#slider3" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="https://source.unsplash.com/wgq4eit198Q/700x400"
                            alt="First Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="https://source.unsplash.com/WLUHO9A_xik/700x400"
                            alt="Second Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="https://source.unsplash.com/4yta6mU66dE/700x400"
                            alt="Third Slide">
                    </div>
                </div>

                <!-- CONTROLS -->
                <a href="#slider3" class="carousel-control-prev" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>

                <a href="#slider3" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
</div>