<% include ./partials/chessroom/ruleModal %>

<div class="container-fluid d-flex">
    <% include ./partials/chessroom/leftbar %>

    <% include ./partials/chessroom/chessboard %>

    <% include ./partials/chessroom/rightbar %>
</div>