<div class="d-flex">
    <h1><i class="fas fa-arrow-left"></i></h1>
    <% include ./partials/chessroom/navbar %>

    <% include ./partials/chessroom/chessboard %>

    <% include ./partials/chessroom/chat %>

</div>