<div class="d-flex">
    <% include ./partials/chessroom/sidebar %>

    <% include ./partials/chessroom/chessboard %>

    <% include ./partials/chessroom/chatarea %>
</div>

<style>
    body {
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7)), url(/assets/img/bg-chess-room.jpg)center/cover fixed no-repeat;
        width: 100vw;
        height: 100vh;
    }
</style>