<div class="d-flex">
    <% include ./partials/chessroom/sidebar %>

    <% include ./partials/chessroom/chessboard %>

    <% include ./partials/chessroom/chatarea %>
</div>

<style>
    body {
        width: 100vw;
        height: 100vh;
    }
</style>