<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <style>
        .container-fluid {
            padding: 0px;
            font-family: 'Nunito', sans-serif;
        }

        .giant-wrapper {
            width: 100vw;
            height: 100vh;
        }

        #overlay {
            height: 100vh;
            width: 0vw;
            position: fixed;
            z-index: 1;
            right: 0;
            background: rgba(0, 0, 0, 0.4);
        }

        #overlay.active {
            width: 100vw;
        }

        /* html,
        body {
            overflow: auto;
        }
        
        body {
            background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7)), url(/assets/img/bg-index.jpg)center/cover fixed no-repeat;
            width: 100vw;
            height: 100vh;
        } */
    </style>

    <title>App</title>
</head>

<body>

    <!-- put the JQuery in front so that every page has access to that at the expense of efficiency -->

    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <div class="container-fluid">
        <div class="d-flex giant-wrapper">
            <% if(typeof clean == 'undefined'){ %>
            <%- include('partials/sidebar') %>
            <% } %>

            <div
                class="<% if(typeof game == 'undefined'){ %>container<% } %> d-flex flex-column justify-content-between page-content">
                <%- body %>
                <div id="overlay"></div>

                <% if(typeof game == 'undefined'){ %>
                <footer class=""><% include ./partials/footer %></footer>
                <% } %>

            </div>
        </div>
    </div>

    <script>
    <% if (typeof game == 'boolean') { %>
            $(document).ready(function () {
                $('#overlay').on('click', function () {
                    $('#sidebar').toggleClass('active');
                    $('#arrow').toggleClass('flip');
                    $('#overlay').toggleClass('active');
                });
            });
    <% } %>
    </script>
</body>

</html>