<style>
  .lobby {
    margin-top: 20px;
  }

  .separator {
    margin: 20px;
  }
</style>


<div class="container lobby" id="lobby-container">
  <!-- <div class="d-flex flex-row"> -->
  <% include ./partials/messages %>

  <% include ./partials/lobby/form %>

  <!-- <div class="separator"></div> -->
  <% include ./partials/lobby/automatch %>
  <!-- </div> -->
  <div class="separator"></div>

  <% include ./partials/lobby/roomlist %>
</div>