<div class="container">
  <% include ./partials/messages %>

  <% include ./partials/lobby/form %>

  <% include ./partials/lobby/automatch %>

  <% include ./partials/lobby/roomlist %>
</div>