<style>
  .lobby {
    margin-top: 20px;
  }

  .separator {
    margin: 20px;
  }
</style>


<div class="container lobby">
    <% include ./partials/messages %>
  <div class="d-flex justify-content-between">

    <!-- <div class="separator"></div> -->
    <% include ./partials/lobby/automatch %>

    <% include ./partials/lobby/form %>
  </div>

  <div class="separator"></div>

  <% include ./partials/lobby/roomlist %>
</div>