<div class="mt-3">
    <style>
        #Rectangle_1 {
            display: none;
        }

        #Rectangle_1.active {
            display: block;
        }

        #Rectangle_2 {
            display: none;
        }

        #Rectangle_2.active {
            display: block;
        }

        #Rectangle_5 {
            display: none;
        }

        #Rectangle_5.active {
            display: block;
        }

        #Rectangle_6 {
            display: none;
        }

        #Rectangle_6.active {
            display: block;
        }

        #radios{
            display: none;
        }

   
        
    </style>

    <div class="row">
        <h2 class="col-3 offset-2">new game</h2>
        <h2 class="col-1 offset-4"><a href="/front" class="btn btn-primary"><i class="fas fa-times"></i></a></h2>
    </div>
    <div class="row mt-3">


        <svg id="9" class="col-3 offset-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 400 450">
            <defs>
                <clipPath id="clip-path">
                    <rect width="97" height="97" fill="none" />
                </clipPath>
            </defs>
            <g id="Group_6" data-name="Group 6" transform="translate(-360 -340)">
                <g id="Rectangle_1" data-name="Rectangle 1" transform="translate(360 340)" fill="none" stroke="#707070"
                    stroke-linejoin="round" stroke-width="1">
                    <rect width="400" height="450" rx="20" stroke="none" />
                    <rect x="0.5" y="0.5" width="399" height="449" rx="19.5" fill="none" />
                </g>
                <g id="Repeat_Grid_1" data-name="Repeat Grid 1" transform="translate(512 492)"
                    clip-path="url(#clip-path)">
                    <g transform="translate(-197 -122)">
                        <circle id="Ellipse_9" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                            transform="translate(197 122)" fill="#444" />
                    </g>
                    <g transform="translate(-158 -122)">
                        <circle id="Ellipse_9-2" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                            transform="translate(197 122)" fill="#444" />
                    </g>
                    <g transform="translate(-119 -122)">
                        <circle id="Ellipse_9-3" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                            transform="translate(197 122)" fill="#444" />
                    </g>
                    <g transform="translate(-197 -83)">
                        <circle id="Ellipse_9-4" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                            transform="translate(197 122)" fill="#444" />
                    </g>
                    <g transform="translate(-158 -83)">
                        <circle id="Ellipse_9-5" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                            transform="translate(197 122)" fill="#444" />
                    </g>
                    <g transform="translate(-119 -83)">
                        <circle id="Ellipse_9-6" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                            transform="translate(197 122)" fill="#444" />
                    </g>
                    <g transform="translate(-197 -44)">
                        <circle id="Ellipse_9-7" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                            transform="translate(197 122)" fill="#444" />
                    </g>
                    <g transform="translate(-158 -44)">
                        <circle id="Ellipse_9-8" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                            transform="translate(197 122)" fill="#444" />
                    </g>
                    <g transform="translate(-119 -44)">
                        <circle id="Ellipse_9-9" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                            transform="translate(197 122)" fill="#444" />
                    </g>
                </g>
                <text id="_9x9" data-name="9x9" transform="translate(523 735)" fill="#707070" font-size="40">
                    <tspan x="0" y="0">9x9</tspan>
                </text>
            </g>
        </svg>

        <svg id="19" class="col-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 400 450">
            <defs>
                <clipPath id="clip-path">
                    <rect width="97" height="214" fill="none" />
                </clipPath>
            </defs>
            <g id="Group_8" data-name="Group 8" transform="translate(-1160 -145)">
                <g id="Rectangle_2" data-name="Rectangle 2" transform="translate(1160 145)" fill="none" stroke="#707070"
                    stroke-width="1">
                    <rect width="400" height="450" rx="20" stroke="none" />
                    <rect x="0.5" y="0.5" width="399" height="449" rx="19.5" fill="none" />
                </g>
                <g id="Group_7" data-name="Group 7" transform="translate(0 -190)">
                    <circle id="Ellipse_19" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                        transform="translate(1352 632)" fill="#444" />
                    <g id="Repeat_Grid_2" data-name="Repeat Grid 2" transform="translate(1313 398)"
                        clip-path="url(#clip-path)">
                        <g transform="translate(-197 -122)">
                            <circle id="Ellipse_19-2" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                                transform="translate(197 122)" fill="#444" />
                        </g>
                        <g transform="translate(-158 -122)">
                            <circle id="Ellipse_19-3" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                                transform="translate(197 122)" fill="#444" />
                        </g>
                        <g transform="translate(-119 -122)">
                            <circle id="Ellipse_19-4" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                                transform="translate(197 122)" fill="#444" />
                        </g>
                        <g transform="translate(-197 -83)">
                            <circle id="Ellipse_19-5" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                                transform="translate(197 122)" fill="#444" />
                        </g>
                        <g transform="translate(-158 -83)">
                            <circle id="Ellipse_19-6" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                                transform="translate(197 122)" fill="#444" />
                        </g>
                        <g transform="translate(-119 -83)">
                            <circle id="Ellipse_19-7" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                                transform="translate(197 122)" fill="#444" />
                        </g>
                        <g transform="translate(-197 -44)">
                            <circle id="Ellipse_19-8" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                                transform="translate(197 122)" fill="#444" />
                        </g>
                        <g transform="translate(-158 -44)">
                            <circle id="Ellipse_19-9" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                                transform="translate(197 122)" fill="#444" />
                        </g>
                        <g transform="translate(-119 -44)">
                            <circle id="Ellipse_19-10" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                                transform="translate(197 122)" fill="#444" />
                        </g>
                        <g transform="translate(-197 -5)">
                            <circle id="Ellipse_19-11" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                                transform="translate(197 122)" fill="#444" />
                        </g>
                        <g transform="translate(-158 -5)">
                            <circle id="Ellipse_19-12" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                                transform="translate(197 122)" fill="#444" />
                        </g>
                        <g transform="translate(-119 -5)">
                            <circle id="Ellipse_19-13" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                                transform="translate(197 122)" fill="#444" />
                        </g>
                        <g transform="translate(-197 34)">
                            <circle id="Ellipse_19-14" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                                transform="translate(197 122)" fill="#444" />
                        </g>
                        <g transform="translate(-158 34)">
                            <circle id="Ellipse_19-15" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                                transform="translate(197 122)" fill="#444" />
                        </g>
                        <g transform="translate(-119 34)">
                            <circle id="Ellipse_19-16" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                                transform="translate(197 122)" fill="#444" />
                        </g>
                        <g transform="translate(-197 73)">
                            <circle id="Ellipse_19-17" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                                transform="translate(197 122)" fill="#444" />
                        </g>
                        <g transform="translate(-158 73)">
                            <circle id="Ellipse_19-18" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                                transform="translate(197 122)" fill="#444" />
                        </g>
                        <g transform="translate(-119 73)">
                            <circle id="Ellipse_19-19" data-name="Ellipse 14" cx="9.5" cy="9.5" r="9.5"
                                transform="translate(197 122)" fill="#444" />
                        </g>
                    </g>
                </g>
                <text id="_19x19" data-name="19x19" transform="translate(1299 540)" fill="#707070" font-size="40">
                    <tspan x="0" y="0">19x19</tspan>
                </text>
            </g>
        </svg>
    </div>

    <div class="row mt-4">
        <svg id="c-rule" class="col-3 offset-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 337.5">
            <g id="Group_10" data-name="Group 10" transform="translate(-999 -682)">
                <g id="Rectangle_6" data-name="Rectangle 6" transform="translate(999 682)" fill="none" stroke="#707070"
                    stroke-width="1">
                    <rect width="300" height="337.5" rx="20" stroke="none" />
                    <rect x="0.5" y="0.5" width="299" height="336.5" rx="19.5" fill="none" />
                </g>
                <text id="子" transform="translate(1109 765)" fill="#444" font-size="80"
                    font-family="ToppanBunkyuMidashiMinchoStdN-ExtraBold, Toppan Bunkyu Midashi Mincho"
                    font-weight="800">
                    <tspan x="0" y="70">子</tspan>
                </text>
                <text id="Chinese_Rule" data-name="Chinese Rule" transform="translate(1057 942)" fill="#707070"
                    font-size="29">
                    <tspan x="0" y="28">Chinese Rule</tspan>
                </text>
            </g>
        </svg>

        <svg id="j-rule" class="col-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 337.5">
            <g id="Group_9" data-name="Group 9" transform="translate(-626 -682)">
                <g id="Rectangle_5" data-name="Rectangle 5" transform="translate(626 682)" fill="none" stroke="#707070"
                    stroke-width="1">
                    <rect width="300" height="337.5" rx="20" stroke="none" />
                    <rect x="0.5" y="0.5" width="299" height="336.5" rx="19.5" fill="none" />
                </g>
                <text id="目" transform="translate(736 765)" fill="#444" font-size="80"
                    font-family="ToppanBunkyuMidashiMinchoStdN-ExtraBold, Toppan Bunkyu Midashi Mincho"
                    font-weight="800">
                    <tspan x="0" y="70">目</tspan>
                </text>
                <text id="Japanese_Rule" data-name="Japanese Rule" transform="translate(679 942)" fill="#707070"
                    font-size="29">
                    <tspan x="0" y="28">Japanese Rule</tspan>
                </text>
            </g>
        </svg>

    </div>

    <form>
    <div id="radios" class="row">
        <div class="col-2 offset-4">
            <input type="radio" name="size" id="rad-9" value="9">
            <input type="radio" name="size" id="rad-19" value="19">
        </div>
        <div class="col-2">
            <input type="radio" name="rule" id="rad-ch" value="ch">
            <input type="radio" name="rule" id="rad-jp" value="jp">
        </div>
    </div>

    <div class="row mt-4">
        <button class="col-5 btn btn-primary container" type="submit">find match</button>
    </div>
</form>

    <script>
        $(document).ready(() => {
            $('#9').on('click', () => {
                $('#Rectangle_1').addClass('active');
                $('#Rectangle_2').removeClass('active');
                $('#rad-9').attr('checked', true);
            })
            $('#19').on('click', () => {
                $('#Rectangle_2').addClass('active');
                $('#Rectangle_1').removeClass('active');
                $('#rad-19').attr('checked', true);
            })
            $('#c-rule').on('click', () => {
                $('#Rectangle_6').addClass('active');
                $('#Rectangle_5').removeClass('active');
                $('#rad-ch').attr('checked', true);
            })
            $('#j-rule').on('click', () => {
                $('#Rectangle_5').addClass('active');
                $('#Rectangle_6').removeClass('active');
                $('#rad-jp').attr('checked', true);
            })
        })
    </script>
</div>