<div class="pr-2 py-2">

    <% if(typeof redirect_link != 'undefined'){ %>
    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
        title="You cannot find match while having ongoing game">
        <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled><span>Find a
                match<span></button>
        <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled><span>Play
                with AI</span></button>
    </span>

    <% }else{ %>

    <button class="btn btn-info" id="automatch" type="button" data-toggle="tooltip" data-placement="top" title=""
        data-original-title="Chinese Rule"><span>Find a match</span>
    </button>
    <button class="btn btn-primary" type="button"><span>Play with AI</span></button>
    <% } %>
</div>


<style>
    #progress-bar {
        position: absolute;
        top: 40%;
        width: 40%;
        z-index: 10;
    }
</style>

<script src="/socket.io/socket.io.js"></script>
<script>
    // Init tooltips
    $('[data-toggle="tooltip"]').tooltip();

    const searchingPlayer = () => {
        $("#automatch").prop('disabled', true);
        $('#overlay').toggleClass('active');
        let html = `
            <div id="progress-bar" class="alert alert-primary alert-dismissible">
                    <button class="close" type="button" data-dismiss="alert">
                        <i class="fas fa-times"></i>
                    </button>
                    <strong>Finding player...</strong>
                    <div class="progress">
                        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width:100%;">
                    </div>
                </div>
            </div> 
            `;
        $('.lobby').append(html);
        $('.close').click(function () {
            $("#automatch").prop('disabled', false);
            $('#overlay').toggleClass('active');
        });
    };

    const foundPlayer = room_id => {
        $('.progress').remove();
        $('strong').html(`<p>Player found, click<a href='rooms/${room_id}'>Here</a></p>`);
        $('.alert-dismissible').addClass('alert-success').removeClass('alert-primary');
    };

</script>
<script>
    let socket = io({ transports: ['websocket'], upgrade: false });

    function makeMatch(e) {
        socket.on('matchReady', function (room_id) {
            foundPlayer(room_id);
            setTimeout(function () {
                // window.location.href = `rooms/${room_id}`;
            }, 1000);
        });
        socket.emit('matchmaking');

        searchingPlayer();
    }

    $("#automatch").click(function (e) {
        makeMatch(e);
    });

</script>