<button class="btn btn-primary" id="automatch" type="button">
    Find a match
</button>
<button class="btn btn-primary" type="button">
    Play with AI
</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/automatch.js" type="module"></script>