<form class="form-inline my-2 my-lg-2" action="/lobby/createRoom" method="POST">
   <input name="title" id="room-title" class="form-control mr-sm-2" type="text" placeholder="Enter room name">
   <button id="create-btn" class="btn btn-primary my-2 my-sm-0" type="submit">Create</button>
</form>
<% include ./../../partials/messages %>

<ul class="list-group" id="rooms">
   <% if(typeof rooms != 'undefined'){ %>
   <% rooms.forEach(function(room) {%>
   <li class="list-group-item">
      <a href=<%= room._id %>>
         <%= room.title %>
      </a>
   </li>
   <% }) %>
   <% } %>
</ul>
<script src="https://code.jquery.com/jquery-3.4.0.min.js"
   integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script src="js/lobby.js"></script>