<link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
<table class="table table-sm table-hover table-striped" id="rooms">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <% if(typeof rooms != 'undefined'){ %>
    <tbody>
        <% rooms.forEach(function(room) {%>
        <tr>
            <td><a href=<%="rooms/" + room._id %>>
                    <%= room.title %>
                </a></td>
            <td><%= room.status %></td>
        </tr>
        <% }) %>
    </tbody>
    <% } %>
</table>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#rooms').DataTable({
            "order": [[0, "desc"]]
            // Reverse the order of room list so that newly created rooms are shown first
        });
    });

</script>