<div class="d-flex flex-column btn-toolbar mb-3">
    <button class="btn btn-primary my-2" data-toggle="modal" data-target="#resignButton">resign</button>
    <!-- MODAL -->
    <div class="modal" id="resignButton" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">resign</h4>
                    <button class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    are you sure you want to resign?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">think twice</button>
                    <button class="btn btn-danger" data-dismiss="modal" id="resignEvent">yes</button>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary my-2" data-toggle="modal" data-target="#drawRequestButton">draw</button>
    <!-- MODAL -->
    <div class="modal" id="drawRequestButton" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">draw</h4>
                    <button class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    call it a draw?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">think twice</button>
                    <button class="btn btn-info" data-dismiss="modal" id="drawEvent">yes</button>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary my-2" data-toggle="modal" data-target="#judgeButton">judge</button>
    <!-- MODAL -->
    <div class="modal" id="judgeButton" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">judge?</h4>
                    <button class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    please make sure that all of your moves are played. 
                    you will only be able to remove dead stones once you click 'yes'.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">think twice</button>
                    <button class="btn btn-info" data-dismiss="modal" id="judgeEvent">yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // const buttons = document.querySelectorAll('.btn')
    // buttons.forEach(function (currentBtn) {
    //     currentBtn.addEventListener('click', function () {
    //         currentBtn.classList.add("disabled");
    //     })
    // })
     // Disable all the buttons


</script>