<div class="d-flex flex-column btn-toolbar mt-auto">
    <button class="btn btn-dark" id="judgement">judgement</button>
    <button class="btn btn-dark">resign</button>
    <button class="btn btn-dark">call a draw</button>
</div>