<div class="d-flex flex-column btn-toolbar mt-5">
    <button class="btn btn-dark my-2" id="judgement">judge</button>
    <button class="btn btn-dark my-2">resign</button>
    <button class="btn btn-dark my-2">call a draw</button>
</div>