<div class="h-75 d-flex flex-column justify-content-end">
    <ul id="chat-history" class="message list-group overflow-auto" style="max-height: 50vh;" auto-scroll-to-bottom></ul>
    <form>
        <div id="message-post" class="input-group mb-3">
            <input id="text-meg" class="form-control" type="text">
            <div class="input-group-append">
                <button id="send-meg" class="btn btn-dark" type="button">send</button>
            </div>
        </div>
    </form>
</div>