<div class="messages list-group mt-3" auto-scroll-to-bottom>
    <div class="list-group-item message p-0" id="chat-history"></div>
</div>
<form>
    <div class="form-group">
        <textarea name="sendMsgArea" id="sendMsgArea" cols="30" rows="4"
            class="form-control message-input" placeholder="Ctrl + Enter to quick send"></textarea>
    </div>
</form>