<div class="h-75 d-flex flex-column justify-content-end">
    <div class="messages list-group overflow-auto" auto-scroll-to-bottom>
        <div class=" message p-0" id="chat-history"></div>
    </div>
    <form>
        <div class="form-group mb-3 ">
            <textarea name="sendMsgArea" id="sendMsgArea" cols="30" rows="2" class="form-control message-input"
                placeholder="Ctrl + Enter to quick send" style="word-break: break-word"></textarea>
        </div>
    </form>
</div>