<div class="messages list-group" auto-scroll-to-bottom>
    <div class="list-group-item message" id="chat-history">
        <ul>
            某某：{{message}}
        </ul>
    </div>
</div>
<form>
    <div class="form-group">
        <textarea class="form-control" name="sendMsgArea" id="sendMsgArea" cols="30" rows="4"
            class="form-control message-input" placeholder="Ctrl + Enter to quick send"></textarea>
    </div>
</form>