<div class="messages list-group" auto-scroll-to-bottom>
    <div class="list-group-item message p-0" id="chat-history"></div>
</div>
<form>
    <div class="form-group">
        <textarea name="sendMsgArea" id="sendMsgArea" cols="30" rows="2" class="form-control message-input"
            placeholder="Ctrl + Enter to quick send" style="word-break: break-word"></textarea>
    </div>
</form>