<div class="h-75 d-flex flex-column justify-content-end">
    <div class="messages list-group overflow-auto" auto-scroll-to-bottom>
        <div class=" message p-0" id="chat-history"></div>
    </div>
    <form>
        <!-- <div class="form-group mb-3 ">
            <textarea name="sendMsgArea" id="sendMsgArea" cols="30" rows="2" class="form-control message-input"
                placeholder="Ctrl + Enter to quick send" style="word-break: break-word"></textarea>
        </div> -->

        <div id="message-post" class="input-group mb-3">
            <input id="text-meg" class="form-control" type="text">
            <div class="input-group-append">
                <button id="send-meg" class="btn btn-dark" type="button">send</button>
            </div>
        </div>


        <!-- <div id="message-post" class="d-flex flex-row justify-content-end form-inline">
            <input class="form-control form-control-sm flex-grow-1" id="text-meg" autocomplete="off" />
            <div class="py-4">
                <a class="btn btn-sm btn-outline-black waves-effect" id="send-meg"><strong>send</strong></a>
            </div>
        </div> -->

    </form>
</div>