<h3 class="row align-items-center mt-3">
    <div id="badge-l" class="col-5 badge badge-pill  overflow-hidden">
        <span id="label-l">blk</span>
    </div>
    <div class="col-2 text-center"> v.</div>
    <div id="badge-r" class="col-5 badge badge-pill  overflow-hidden">
        <span id="label-r">wh</span>
    </div>
</h3>