<h4 id="players-block" class="row align-items-center mt-3">
    <div id="alert-l" class="player col-5 alert alert-primary text-center">
        <span id="label-l">p1</span>
    </div>

    <div class="col-2 text-center"> v.</div>

    <div id="alert-r" class="player col-5 alert alert-light text-center">
        <span id="label-r">p2</span>
    </div>
</h4>

<style>
    .player {
        height: 3.1em;
        word-break: break-word;
        overflow: hidden;
        max-lines: 2;
    }
</style>