<div class="modal fade" id="rule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rules</h5>
            </div>
            <div class="modal-body">
                <ul>
                    <li>
                        Black goes first
                    </li>
                    <li>
                        <strong data-toggle="tooltip" data-placement="top" title=""
                            data-original-title="Compensation to white for black going first">
                            Komi
                        </strong>
                        6.5
                    </li>
                    <li>
                        No Time Limit
                    </li>
                    <li>
                        Lost if disconnected more than 5 minutes
                    </li>
                    <li>
                        Winner is decided by counting the territory surrounded by each player
                        (plus the opponent's dead stones)
                    </li>
                    <li>
                        Black's territory must surpass the white's by the
                        amount of komi to win- 6.5 in this case
                    </li>
                    <li>
                        You can enter the judge phase by using the judge button
                    </li>
                </ul>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Got it!</button>
                <!-- <button id="ruleDeclined" type="button" class="btn btn-secondary" data-dismiss="modal">Decline</button>
                <button id="ruleAccepted" type="button" class="btn btn-primary" data-dismiss="modal">Accept</button> -->
            </div>
        </div>
    </div>
</div>

<script>
    $('strong').tooltip();
</script>