<nav class="col-md-2 d-none d-md-block sidebar">
    <% include ./timer %>

    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file"></span>
                    
                </a>
            </li>
        </ul>
    </div>

    <% include ./buttons %>

</nav>