<div class="timer-container rounded bg-light text-dark p-2 mt-3">
    <div class="d-flex mb-2">
        <img class="stone" id="black-avatar" src="/assets/img/black.png" alt="black">
        <div id="timer-b" class="p-2 text-center">
            <h1> <time id="time-1"></time></h1>
        </div>
    </div>
</div>


<div class="timer-container rounded bg-white p-2 mt-3">
    <div class="d-flex mb-2">
        <img class="stone" id="white-avatar" src="/assets/img/white.png" alt="white">
        <div id="timer-w" class="p-2 text-center text-dark">
            <h1><time id="time-2"></time></h1>

        </div>
    </div>
</div>

<script>
    // Show Time
    function showTime(DOM, end) {
        const time = document.getElementById(DOM);

        now = new Date();
        let distance = end - now;

        const hours = Math.floor(
            (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        const mins = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output Time
        time.innerHTML = `${hours}<span>:</span>${addZero(mins)}<span>:</span>${addZero(seconds)}`;
    }

    function addZero(n) {
        return (parseInt(n, 10) < 10 ? '0' : '') + n;
    }

    function init() {
        let now = new Date();
        let end = new Date(now.getTime());
        end = end.setMinutes(end.getMinutes() + 30);

        setInterval(() => showTime('time-1', end));
        setInterval(() => showTime('time-2', end));
    }

    init();



</script>


<style>
    .timer-container {
        box-shadow: 0 2px 10px 1px rgba(50, 70, 112, .4);
    }

    .stone {
        height: 2rem;
        width: auto
    }
</style>