<div class="timer-container rounded bg-light text-dark p-2 mt-3">
    <div class="d-flex align-items-center">
        <img class="stone" id="black-avatar" src="/assets/img/black.png" alt="black">
        <div id="timer-b" class="pl-2 text-center">
            <h3 class="mb-0">
                <time id="time-1"></time>
            </h3>
        </div>
    </div>
</div>


<div class="timer-container rounded bg-white p-2 mt-2">
    <div class="d-flex align-items-center">
        <img class="stone" id="white-avatar" src="/assets/img/white.png" alt="white">
        <div id="timer-w" class="pl-2 text-center text-dark">
            <h3 class="mb-0">
                <time id="time-2"></time>
            </h3>

        </div>
    </div>
</div>

<div id="pause">Pause</div>
<div id="resume">Resume</div>

<script type="module">

    var CountDown = (function ($) {
        // Length ms 
        var TimeOut = 10000;
        // Interval ms
        var TimeGap = 1000;

        var CurrentTime = (new Date()).getTime();
        var EndTime = (new Date()).getTime() + TimeOut;

        var GuiTimer = $('#time-1');
        var GuiPause = $('#pause');
        var GuiResume = $('#resume').hide();

        var Running = true;

        var UpdateTimer = function () {
            // Run till timeout
            if (CurrentTime + TimeGap < EndTime) {
                setTimeout(UpdateTimer, TimeGap);
            }
            // Countdown if running
            if (Running) {
                CurrentTime += TimeGap;
                if (CurrentTime >= EndTime) {
                    // alert("time's up");
                    console.log("time's up");
                }
            }
            // Update Gui
            var Time = new Date();
            Time.setTime(EndTime - CurrentTime);
            var Hours = Time.getHours();
            var Minutes = Time.getMinutes();
            var Seconds = Time.getSeconds();

            GuiTimer.html(
                // Hours
                // + ':' +
                (Minutes < 10 ? '0' : '') + Minutes
                + ':'
                + (Seconds < 10 ? '0' : '') + Seconds);
        };

        var Pause = function () {
            Running = false;
            GuiPause.hide();
            GuiResume.show();
        };

        var Resume = function () {
            Running = true;
            GuiPause.show();
            GuiResume.hide();
        };

        var Start = function (Timeout) {
            TimeOut = Timeout;
            CurrentTime = (new Date()).getTime();
            EndTime = (new Date()).getTime() + TimeOut;
            UpdateTimer();
        };

        return {
            Pause: Pause,
            Resume: Resume,
            Start: Start
        };
    })(jQuery);

    jQuery('#pause').on('click', CountDown.Pause);
    jQuery('#resume').on('click', CountDown.Resume);

    // ms
    CountDown.Start(30 * 60 * 1000 + 1000);

    // class Timer {
    //     constructor(DomId, min) {

    //         let now = new Date();
    //         let end = new Date(now.getTime());
    //         end = end.setMinutes(end.getMinutes() + min);

    //         this.end = end;
    //         this.DomId = DomId;



    //     }
    //     showtime() {
    //         const time = document.getElementById(this.DomId);
    //         const now = new Date();
    //         let distance = this.end - now;

    //         const hours = Math.floor(
    //             (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
    //         );
    //         const mins = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    //         const seconds = Math.floor((distance % (1000 * 60)) / 1000);

    //         // Output Time
    //         time.innerHTML = `${hours}<span>:</span>${this.addZero(mins)}<span>:</span>${this.addZero(seconds)}`;
    //         // this.showtime();

    //     }

    //     pause() {

    //     }

    //     addZero(n) {
    //         return (parseInt(n, 10) < 10 ? '0' : '') + n;
    //     }
    // }

    // const timer = new Timer("time-1", 30);
    // timer.showtime();
    // var id = window.setInterval(() => { timer.showtime(); }, 1000);
    // console.log(id);


    // function showTime(DOM, end) {
    //     const time = document.getElementById(DOM);

    //     now = new Date();
    //     let distance = end - now;

    //     const hours = Math.floor(
    //         (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
    //     );
    //     const mins = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    //     const seconds = Math.floor((distance % (1000 * 60)) / 1000);

    //     // Output Time
    //     time.innerHTML = `${hours}<span>:</span>${addZero(mins)}<span>:</span>${addZero(seconds)}`;
    // }



    // function init() {
    //     let now = new Date();
    //     let end = new Date(now.getTime());
    //     end = end.setMinutes(end.getMinutes() + 30);

    //     id = setInterval(() => showTime('time-1', end));

    //     setInterval(() => pause(id), 3000)
    //     // setInterval(() => showTime('time-2', end));
    // }

    // init();



</script>


<style>
    .timer-container {
        box-shadow: 0 2px 10px 1px rgba(50, 70, 112, .2);
    }

    .stone {
        height: 2rem;
        width: auto
    }
</style>