<style>
    .fa-chevron-down {
        transition: transform .3s
    }

    .fa-chevron-down.flip {
        transform: rotateZ(-180deg);
    }
</style>

<div class="mt-3" id="player-list">
</div>

<div class="mt-3" id="user-list">


    <!-- <div class="card-block">
        <div class="card border-secondary mb-2">

            <div class="d-flex">
                <img class="img-circle rounded"
                    src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
                    alt="User Pic">
                <div class="col-md-10 col-lg-10 py-1">
                    <span class="text-muted">Black</span>
                    <br>
                    <strong>Cyruxx</strong>
                    <span href="#collapse1" data-toggle="collapse" data-parent="#user-list">
                        <i class="fa fa-chevron-down text-muted"></i>
                    </span>



                </div>
            </div>

            <div class=" collapse" id="collapse1">
                <div class="card-body text-secondary">
                    <h5 class="card-title">Secondary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>


        </div>
    </div> -->
</div>
<script>
    $(document).ready(function () {
        $('.fa-chevron-down').on('click', function () {
            $('.fa-chevron-down').toggleClass('flip');
        });
    });
</script>