<link type="text/css" rel="stylesheet" href="/css/userlist.css">

<div class="mt-3" id="user-list">
    <!-- <div class="row">/ -->
    <div class="d-flex">
        <img class="img-circle"
            src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
            alt="User Pic">
        <div class="col-md-10 col-lg-10">
            <strong>Cyruxx</strong><br>
            <span class="text-muted">User level: Administrator</span>
            <span href="#collapse1" data-toggle="collapse" data-parent="#user-list"><i
                    class="fa fa-chevron-down text-muted"></i>
            </span>
        </div>
    </div>

    <div class="card-block collapse mt-1" id="collapse1">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">

            <div class="card-header">User information</div>
            <div class="card-body text-secondary">
                <h5 class="card-title">Secondary card title</h5>

                <img class="img-circle"
                    src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                    alt="User Pic">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
</div>